.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 854px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 302px;
  background-image: none;
  margin: 31px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 20px;
}

.u-section-1 .u-form-1 {
  height: 181px;
  width: 570px;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}